*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* for my ist header */

.navbar{
    height: 300px;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav1{
    color: white;
    text-align: center;
   
  
}


.nav1 h1{
    font-size: 32px;
    display: block;

}


.nav1 span{
    color: #00bcd4;
    font-weight: bold;
      font-size: 32px;
      margin-left: 9px;

}

.nav1 p{
    margin-top: 5px;
}

.box1{
    display: flex;
}

#button1{
    
    font-size: 16px;
    height: 45px;
    color: white;
    border-radius: 5px;
    width: 138px;
    background-color: #00bcd4;
}

/* 2 */
 
.sec{
    height: 190px;
    width: 100vw;
    display: flex;
    justify-content: center;
     align-items: center;
    /* background-color: pink; */
}


.box2{
    width: 870px;
}

.box2 h2{ 
    margin-bottom: 25px;

}

.sec2{
    height: 190px;
    width: 100vw;
     display: flex;
    justify-content: center;
     align-items: center;
    /* background-color: rgb(135, 84, 84); */
    
    
}

.box3{
    width: 890px;
  height: 100px;
}
 
.box3 h2{
    margin-bottom: 40px;
    padding-left: 10px;
}

.box3 ul li{
    
    display: inline;
    height: 45px;
    background-color: #00bcd4;
   
  
}
.html , .css, .java ,.node, .MongoDB{
    margin-bottom: 20px;
    padding-bottom: 13px;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 8px;
    border-radius: 5px;
    font-size: 16px;

    height: 40px;
    color: white;
}
 

/* 4 */

.sec3{height: 325px;
    background-color: wqua;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.box4{
    height: 190px;
    width: 850px;
    margin-right: 25px;
    margin-bottom: 40px;


}

 


.box4 h3{
  margin-top: 20px;
}

.box4 p{
    margin-top: 20px;
}



.container{
    border: 1px solid white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    height: 185px;
    width: 900px;
    padding-left: 20px;
    border-radius: 9px;
    margin-right: 20px;
}

#button1{
    padding: 10px;
    margin-top: 20px;
    width: 100px;
    border: none;
    height: 45px;
    color: white;
    font-size: 16px;
    background-color: #00bcd4;
    border-radius: 5px;


}

/* 5 */
.sec4{
    height: 400px;
    max-width: 100vw;
    display: flex;

    justify-content: center;
    align-items: center;
    padding-left: 20px;
    margin-top: 25px;
    


}


.boxes2{width:880px ;
}

#placeholder,#email,#textarea{
    display: block;
    width: 500px;
    font-size: 16px;
    height: 45px;
    border: 1px solid grey;
    margin-bottom: 20px;
    padding-left: 20px;
      border-radius: 2px;
}

#button2{

    width: 520px;
       height: 47px;
       margin-bottom: 20px;
      background-color: #00bcd4;
      color: white;
      font-size: 16px;
      border: none;
         border-radius: 5px;

}

#textarea{
    padding-top: 8px;
}

.footer{
    background-color: black;
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer p{
   
    font-size: 16px;
    color: white;
}

#button1:hover,#button2:hover,#button:hover{
    cursor: pointer;
    /* transition: all ease-in 4s; */
  background-color: #0097a7;
  transition: 0.3s ease;
    
}
/* #button1:hover,
.button1:hover,
#button2:hover {
  background-color: #0097a7;
  cursor: pointer;
  transition: 0.3s ease;
} */
